body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #05bfdb;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
  }
  
  header .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  header nav {
    display: flex;
  }
  
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: black;
    text-decoration: none;
  }
  